h1,h2,h3 {
    margin-top:0;
}
.shop-input-wrap {
    display:flex;
    justify-content:space-between;
}
.shop-input-wrap .col {
    width:20%;
    border:2px solid #d0d0d0;
    border-radius:5px;
    padding:20px
}
.item-setup-inputs input{
    width:40px;
}
.item-setup-inputs{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}
.item-setup-inputs:nth-last-child(1){
    margin-bottom:0;
}
.checkout-view-wrap {
    display: none;
}
button#submit-item-info {
    border:none;
    background-color:#3939b5;
    padding:10px 40px;
    margin-top:20px;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    border-radius:5px;
}
button {
    cursor:pointer;
}
.items-wrapper {
    background-color:#f7f7f7;
    padding:40px;
    border-radius:5px;
}
.item-buttons button{
    border:none;
    background-color:#7777b7;
    color:#fff;
    padding:10px 40px;
    font-size:20px;
    margin-right:20px;
    border-radius:5px;
}
.item-calculations {
    display:flex;
    margin-top:20px
}
.item-calculations-inner:nth-child(1) {
    margin-right:40px;
}
button#reset-application {
    margin-top:40px;
    background-color:#8f8484;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    color:#fff;
}